html{
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: 'DIN Next';
  position: relative;
}

body{
  padding: 6rem 0 9rem 0;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  position: relative;
}

/* HEADER */
header{
  width: 100%;
  padding: 1.5rem 0;
  background-color: #fff;
  position: fixed;
  top: 0;
}

nav{
  float: left;
  display: block;
}

nav ul{
  padding: 0;
  margin: 2rem 0 0 0;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1rem;
}

nav ul li{
  margin: 0 1.5rem 0 0;
  list-style: none;
  display: block;
  float: left;
}

nav ul li a{
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: underline;
}

.logo{
  float: right;
}

.logo a{
  text-decoration: none;
}

.logo h1{
  margin: 0;
  text-align: right;
  text-transform: uppercase;
}

.logo h1 span{
  display: block;
}

.logo h1 span:first-child{
  font-size: 2rem;
  line-height: 2rem
}

.logo h1 span:last-child{
  font-size: 1rem;
  line-height: 1rem;
}

.logo.big h1 span:first-child{
  font-size: 6rem;
  line-height: 6rem
}

.logo.big h1 span:last-child{
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 4rem
}

#menu-button{
  margin: 0 0 0 .75rem;
  height: 2rem;
  float: right;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: none;
}

#menu-button:hover{
  cursor: pointer;
}

/* FOOTER */
footer{
  padding: 1.5rem 0 1.5rem 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #222;
  color: #fff;
}

/* BODY */
section{
  padding: 4.5rem 0 3rem 0;
  overflow: hidden;
}

section.hero{
  padding: 4.5rem 0 0 0;
}

section.hero img{
  padding: 4.5rem 0 0 0;
  margin: 0;
}

.col{
  padding: 0 6rem;
  width: calc(50% - 12rem - 1px);
  float: left;
}

.col.person img{
  float: left;
  width: 160px;
  height: 240px;
  margin: 0 3rem 3rem 0;
}

.col.wide{
  width: calc(100% - 12rem - 1px);
}

/* UTILITY */
img{
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
}

.icon{
  font-family: 'material icons';
}

.list{
  display: block;
  margin: 0 0 1.5rem 0;
}

/* BG-COLORS */

.bg-bluelight{
  background-color: #07c;
  color: #fff;
}

.bg-bluemedium{
  background-color: #045;
  color: #fff;
}

.bg-bluedark{
  background-color: #022;
  color: #fff;
}

@media screen and (max-width: 1439px) {
  .logo.big h1 span:first-child{
    font-size: 4rem;
    line-height: 4rem
  }

  .logo.big h1 span:last-child{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 4rem
  }
}

@media screen and (max-width: 1079px) {
  section{
    padding: 3rem 0 1.5rem 0;
  }
  .col{
    padding: 0 3rem;
    width: calc(50% - 6rem - 1px);
  }
  .col.wide{
    width: calc(100% - 6rem - 1px);
  }
}

@media screen and (max-width: 959px) {
  body{
    padding: 6rem 0 12rem 0;
  }
  .col{
    width: calc(100% - 6rem - 1px);
  }
  header{
    padding: .75rem 0;
  }
  .logo h1 span:first-child{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .logo h1 span:last-child{
    font-size: .75rem;
    line-height: .75rem;
  }
  nav{
    display: none;
    width: calc(100% - 6rem - 1px);
    padding: 0 3rem;
    position: absolute;
    background-color: rgba(255,255,255,.8);
    top: 3.75rem;
    left: 0;
  }
  nav ul{
    margin: 2rem 0;
  }
  nav ul li{
    margin: 0;
    font-size: 1.5rem;
    line-height: 3rem;
    float: none;
    text-align: right;
  }
  #menu-button{
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .col{
    padding: 0 3rem;
    width: calc(100% - 6rem - 1px);
  }
  .col.wide{
    width: calc(100% - 6rem - 1px);
  }
  .col.person img{
    float: none;
    width: 50%;
    height: unset;
    margin: 0 0 1.5rem 0;
  }
}

@media screen and (max-width: 480px) {
  .col{
    padding: 0 1.5rem;
    width: calc(100% - 3rem - 1px);
  }
  .col.wide{
    width: calc(100% - 3rem - 1px);
  }
}
