{% load static %}
<!doctype html>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {% block title %}
      <title>Reinertsen New Energy</title>
    {% endblock %}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/fonts.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/typo.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static '/javascripts/main.js' %}"></script>
  </head>

  <body>
    {% if request.path == "/" %}
      {% include 'components/header.html' with front='True' %}
    {% else %}
      {% include 'components/header.html' %}
    {% endif %}

    {% block content %}
    {% endblock %}

    {% include 'components/footer.html' %}
  </body>
</html>
