{% extends "layout.html" %}
{% load markdownify %}

{% block content %}
<section>
  <div class="col">
    <h2>{{ page.title }}</h2>
  </div>
  <div class="col">
    <p>{{ page.lead }}</p>
    {{ page.content|markdownify|safe }}
  </div>
</section>

{% if page.section %}

  {% for section in page.section %}
  <section>
    <div class="col">
      <h3>{{ section.title }}</h3>
    </div>
    <div class="col">
      {{ section.content|markdownify|safe }}
    </div>
  </section>
  {% endfor %}

{% endif %}


{% endblock %}
