{% extends "layout.html" %}
{% load markdownify %}

{% block content %}

<section>
  <div class="col wide">
    <h2 class="heading-display">{{ reference.title }}</h2>
  </div>
  <div class="col">
    {{ reference.metadata|markdownify|safe }}
    <br>
    <br>
    <h3 class="heading-large">Description</h3>
    {{ reference.description|markdownify|safe }}
    <br>
    <br>
    {% if reference.scope %}
      <h3 class="heading-large">Scope of Work</h3>
      {{ reference.scope|markdownify|safe }}
    {% endif %}
  </div>
  <div class="col">
    {% if reference.image %}
      <img src="{{ reference.image.url }}">
    {% endif %}
  </div>
</section>

{% endblock %}
