{% extends "layout.html" %}
{% load markdownify %}

{% block content %}

<section>
  <div class="col">
    <h2 class="heading-display">{{ reference.title }}</h2>
    {% if reference.image %}
      <img src="{{ reference.image.url }}">
    {% endif %}
  </div>
  <div class="col">
    {{ reference.metadata|markdownify|safe }}
  </div>
</section>

<section class="bg-bluelight">
  <div class="col">
    <h3 class="heading-large">Description</h3>
  </div>
  <div class="col">
    {{ reference.description|markdownify|safe }}
  </div>
</section>

{% if reference.scope %}
<section class="bg-bluemedium">
  <div class="col">
    <h3 class="heading-large">Scope of Work</h3>
  </div>
  <div class="col">
    {{ reference.scope|markdownify|safe }}
  </div>
</section>
{% endif %}

{% endblock %}
