{% extends "layout.html" %}
{% load markdownify %}

{% block content %}

<section>
  <div class="col">
    <h2>{{ reference.title }}</h2>
  </div>
  <div class="col">
    {{ reference.metadata|markdownify|safe }}
  </div>
</section>

<section>
  <div class="col">
    <h3>Description</h3>
  </div>
  <div class="col">
    {{ reference.description|markdownify|safe }}
  </div>
</section>

{% if reference.scope %}
<section>
  <div class="col">
    <h3>Scope of Work</h3>
  </div>
  <div class="col">
    {{ reference.scope|markdownify|safe }}
  </div>
</section>
{% endif %}

{% endblock %}
